/* Modify the backgorund color */ 
*{
    padding: 0px;
    margin:0px; 
    box-sizing: border-box;
    outline: none;
 font-family: 'Roboto', sans-serif;

}

.navbar-custom{
background-color: #6d1d97 !important;
color: rgb(254, 254, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}
.row{
    position: relative;
    padding: 10px;
}
.logo{
    position: absolute;
    top: 5px;
    left: 5px;

}
.logo h1{
    display: flex;
   font-family: 'Fondamento', cursive;
}
.logo h1 span{
    color: rgb(247, 248, 248);
    width: 30px;
    height: 30px;
    background-color: rgb(117, 3, 98);
    font-weight: 600;
    margin-left:1px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.font{
    font-size: 120%;
}
@keyframes drop-letters{
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(-100%);
    }
    20%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
.logo h1 span:nth-child(1){
    animation: drop-letters 4s 0.1s infinite;
}
.logo h1 span:nth-child(2){
    animation: drop-letters 4s 0.2s infinite;
}
.logo h1 span:nth-child(3){
    animation: drop-letters 4s 0.3s infinite;
}
.logo h1 span:nth-child(4){
    animation: drop-letters 4s 0.4s infinite;
}
.logo h1 span:nth-child(5){
    animation: drop-letters 4s 0.5s infinite;
}
.logo h1 span:nth-child(6){
    animation: drop-letters 4s 0.6s infinite;
}
.logo h1 span:nth-child(7){
    animation: drop-letters 4s 0.7s infinite;
}
.logo h1 span:nth-child(8){
    animation: drop-letters 4s 0.8s infinite;
}
.logo h1 span:nth-child(9){
    animation: drop-letters 4s 0.9s infinite;
}
/*image animation*/
.animate{
       
    background-size: cover;
    position: relative;
    perspective: 100rem;
        font-size: 62.5% !important;
}
@keyframes image-float{
    0%{
        transform: translateZ(1rem);
        
    }
    30%{
        transform: translateZ(-100rem)
        translateX(20rem);
        
    }
    60%{
        transform: translateZ(-200rem)
        translateX(-20rem);
        
    }
    80%{
        transform: translateZ(-150rem)
        translateX(-30rem);
        
    }
    100%{
        transform: translateZ(1rem);
        
    }
}
.animate-image {
    animation-name: image-float;
    animation-duration: 35s;
    animation-iteration-count: infinite;
}
.container{
    overflow: hidden;
}

nav a{
    color: rgb(243, 242, 247);
}

.fa-bars{
    color: #fff;
    font-size:30px !important ;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav li a{
    color: #fff;
    font-weight:600;
}
/* banner section*/
#banner{
background-image: linear-gradient(to right,#a517ba,#5f1782);
color:#fff;
padding-top: 5%;
}
.button{
    background-color: #8902cc;
    border: #8e0bcf 2px inset;
    
    color: whitesmoke;
}
footer{
    background-color: #9c3aac;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color:#f3f4f5;
  color: rgb(39, 38, 39);
}
.carousel {
  background:gold;
}
.carousel .carousel-item {
height: 500px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
 
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {
.carousel .carousel-item {
height: 200px;
}
}
.modal-header {
  background-color: #a536d1; }
  .modal-header .modal-title {
    color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }
    .modal-header .close:hover {
      color: #d1c4e9 !important; }

.modal-body {
  background-color: #cda0df; }
  